<% layout('layout') %>
    <h2>Register as a Freelancer</h2>
    <form action="/auth/register/freelancer" method="POST">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="text" name="skills" placeholder="Skills">
        <textarea name="description" placeholder="Describe your work"></textarea>
        <input type="text" name="phoneNumber" placeholder="Phone Number">
        <button type="submit">Register</button>
    </form>